body {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 8rem auto;
  height: 100vh;
}

/********************/
/* Navigation */
/********************/
.navigation-bar {
  grid-column: 1/-1;
  border-bottom: 1px solid rgba(118, 118, 118, 0.1);
  z-index: 2;

  display: grid;
  grid-template-columns: 10rem 1fr;
}

.navigation-bar .logo {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.navigation-bar .logo::before,
.navigation-bar .logo::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
}

.navigation-bar .logo::before {
  transform: translate(-50%, -50%);
  background-color: #caddfc;
}

.navigation-bar .logo::after {
  background-color: #428efd;
  transform: translate(-30%, -30%);
  transition: 0.3s all;
}

.navigation-bar .logo:hover::after {
  transform: translate(-50%, -50%);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  color: #b2b6c0;
  cursor: pointer;
}

.nav-user * {
  transition: all 0.3s;
}

.nav-user *:hover {
  color: #333;
}

.nav-user-icon {
  font-size: 3rem;
  position: relative;
}

.nav-user-icon::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fd774f;
}

.nav-user-profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.4rem;
}

.nav-profile-picture {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  cursor: pointer;
}

/********************/
/* Menu */
/********************/
.main-menu {
  font-size: 2.4rem;
  box-shadow: 0 0 2px rgba(118, 118, 118, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 0;
  color: #b2b6c0;

  z-index: 1;
}

.main-menu .main-menu-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.main-menu .main-menu-list li {
  cursor: pointer;
  transition: 0.3s;
}

.main-menu .main-menu-list li:hover {
  color: #333;
}

.main-menu .main-menu-list li.primary-color:hover {
  color: #3572ca;
}

/********************/
/* Dashboard */
/********************/
.dashboard {
  background-color: #f8f8f8;
  overflow: scroll;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* Statistics */
.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}

.statistic {
  color: #333;
  background-color: #fff;
  padding: 1.6rem;
  transition: all 0.4s;
}

.statistic:hover {
  transform: translateY(-1rem);
}

.statistic-graphics {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.statistic-icon {
  padding: 1.2rem;
  background-color: #f4f9f4;
  font-size: 3rem;
}

.statistic-graph-container {
  filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.4));
}

.statistic-graph {
  width: 9.6rem;
  height: 100%;
  background-color: #8bc48a;

  mask: url("../img/graph.svg") no-repeat center;
  mask-size: 100%;
}

.graph-down {
  background-color: red;
  mask: url("../img/graph-down.svg") no-repeat center;
  mask-size: 100%;
}

.statistic-info {
  margin-top: 2.4rem;
}

.statistic-header {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: #9fa2aa;
}

.statistic-number {
  font-size: 3.6rem;
  padding-bottom: 2.4rem;
  color: #251d50;
  border-bottom: 1px solid #9fa2aa;
  margin-bottom: 1.6rem;
}

.statistic-bottom {
  font-size: 1.6rem;
  color: #9fa2aa;
}

.primary-statistic {
  background-color: #428efd;
}

.primary-statistic .statistic-header,
.primary-statistic .statistic-number,
.primary-statistic .statistic-icon {
  color: #fff;
}

.primary-statistic .statistic-bottom {
  color: #dbeafe;
}

.primary-statistic .statistic-icon {
  background-color: #559afe;
}

.primary-statistic .statistic-graph-container {
  filter: drop-shadow(6px 3px 4px rgba(255, 255, 255, 0.6));
}

.primary-statistic .statistic-graph {
  background-color: #fff;
}

.primary-statistic .statistic-number {
  border-bottom-color: #fff;
}

.dashboard-main {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 65fr 35fr;
  column-gap: 2.4rem;
  align-items: start;
}

.product-table {
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.product-table-row {
  display: grid;
  grid-template-columns: 0.75fr 2.5fr 1fr 1fr 1fr;
  column-gap: 4.8rem;
  align-items: center;

  font-size: 2rem;
  color: #251d50;
  background-color: #f5f7f9;
  padding: 1.6rem 3.2rem;
  margin: 1.6rem;
  line-height: 1.8;
  transition: all 0.4s;
  cursor: pointer;
}

.product-table-row:not(.products-table-head):hover {
  background-color: #e8ebee;
}

.products-table-head {
  background-color: #fff;
  font-weight: 700;
}

.product-number-image {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.product-image {
  width: 6.4rem;
  height: 6.4rem;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-status {
  color: #3572ca;
}

.graphs {
  background-color: #fff;
  padding: 1.6rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-title {
  font-size: 3.2rem;
  color: #251d50;
}

.graph-time {
  color: #9fa2aa;
  cursor: pointer;
}

.graph-descriptions {
  display: flex;
  gap: 3.2rem;
  color: #251d50;
  font-weight: 700;
  letter-spacing: 1px;
}

.graph-description {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.graph-color-box {
  background-color: red;
  height: 2.4rem;
  width: 2.4rem;
}

.graph-color--orange {
  background-color: #fe764b;
}

.graph-color--light-green {
  background-color: #83bcbd;
}

.graph-bars {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  color: #9fa2aa;
  padding-bottom: 1.6rem;

  position: relative;
}

.graph-bars::before,
.graph-bars::after {
  content: "";
  background-color: #b7bbc4;
  position: absolute;
  left: 2em;
  bottom: 0;
}

.graph-bars::before {
  transform: translate(-50%, 0);
  width: 2px;
  top: 0;
}

.graph-bars::after {
  height: 2px;
  right: 0;
}

.graph-bar {
  display: grid;
  grid-template-columns: 1em 1fr;
  column-gap: 2.4rem;
  align-items: center;

  position: relative;
}

.graph-bar-title::before {
  content: "";
  width: 1rem;
  background-color: #b7bbc4;
  height: 0.2rem;

  position: absolute;
  left: calc(2em - 1rem);
  top: 50%;
  transform: translate(0, -50%);
}

.graph-bar-boxes {
  display: flex;
}

.graph-bar-box {
  height: 1.6rem;
  transition: all 0.3s;
}

.graph-bar-box:hover {
  z-index: 1;
  box-shadow: 0 0 0 4px #bfc2cc;
}
