body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr;
  grid-template-columns: 10rem 1fr;
  -ms-grid-rows: 8rem auto;
  grid-template-rows: 8rem auto;
  height: 100vh;
}
body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
body > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
body > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

/********************/
/* Navigation */
/********************/
.navigation-bar {
  grid-column: 1/-1;
  border-bottom: 1px solid rgba(118, 118, 118, 0.1);
  z-index: 2;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 10rem 1fr;
  grid-template-columns: 10rem 1fr;
}

.navigation-bar .logo {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.navigation-bar .logo::before,
.navigation-bar .logo::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
}

.navigation-bar .logo::before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #caddfc;
}

.navigation-bar .logo::after {
  background-color: #428efd;
  -webkit-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.navigation-bar .logo:hover::after {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.2rem;
  color: #b2b6c0;
  cursor: pointer;
}

.nav-user * {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-user *:hover {
  color: #333;
}

.nav-user-icon {
  font-size: 3rem;
  position: relative;
}

.nav-search-icon {
  display: none;
}

.nav-user-icon:not(:first-child)::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fd774f;
}

.nav-search-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  font-size: 4.8rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.search-open .nav-search-close {
  display: block;
}

.search-open .input-with-icon {
  opacity: 1;
  pointer-events: initial;
  visibility: initial;
}

.nav-user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.4rem;
}

.nav-profile-picture {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  cursor: pointer;
}

/********************/
/* Menu */
/********************/
.main-menu {
  font-size: 2.4rem;
  -webkit-box-shadow: 0 0 2px rgba(118, 118, 118, 0.1);
  box-shadow: 0 0 2px rgba(118, 118, 118, 0.1);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4.8rem 0;
  color: #b2b6c0;

  z-index: 1;
}

.main-menu .main-menu-list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4.8rem;
}

.main-menu .main-menu-list li {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-menu .main-menu-list li:hover {
  color: #333;
}

.main-menu .main-menu-list li.primary-color:hover {
  color: #3572ca;
}

/********************/
/* Dashboard */
/********************/
.dashboard {
  background-color: #f8f8f8;
  overflow: scroll;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.4rem;
}

/* Statistics */
.statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.2rem 1fr 3.2rem 1fr 3.2rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3.2rem;
  -moz-column-gap: 3.2rem;
  column-gap: 3.2rem;
}

.statistic {
  color: #333;
  background-color: #fff;
  padding: 1.6rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.statistic:hover {
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.statistic-graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.statistic-icon {
  padding: 1.2rem;
  background-color: #f4f9f4;
  font-size: 3rem;
}

.statistic-graph-container {
  -webkit-filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.4));
}

.statistic-graph {
  width: 9.6rem;
  height: 100%;
  background-color: #8bc48a;

  -webkit-mask: url("../img/graph.svg") no-repeat center;

  mask: url("../img/graph.svg") no-repeat center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.graph-down {
  background-color: red;
  -webkit-mask: url("../img/graph-down.svg") no-repeat center;
  mask: url("../img/graph-down.svg") no-repeat center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.statistic-info {
  margin-top: 2.4rem;
}

.statistic-header {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: #9fa2aa;
}

.statistic-number {
  font-size: 3.6rem;
  padding-bottom: 2.4rem;
  color: #251d50;
  border-bottom: 1px solid #9fa2aa;
  margin-bottom: 1.6rem;
}

.statistic-bottom {
  font-size: 1.6rem;
  color: #9fa2aa;
}

.primary-statistic {
  background-color: #428efd;
}

.primary-statistic .statistic-header,
.primary-statistic .statistic-number,
.primary-statistic .statistic-icon {
  color: #fff;
}

.primary-statistic .statistic-bottom {
  color: #dbeafe;
}

.primary-statistic .statistic-icon {
  background-color: #559afe;
}

.primary-statistic .statistic-graph-container {
  -webkit-filter: drop-shadow(6px 3px 4px rgba(255, 255, 255, 0.6));
  filter: drop-shadow(6px 3px 4px rgba(255, 255, 255, 0.6));
}

.primary-statistic .statistic-graph {
  background-color: #fff;
}

.primary-statistic .statistic-number {
  border-bottom-color: #fff;
}

.dashboard-main {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65fr 2.4rem 35fr;
  grid-template-columns: 65fr 35fr;
  -webkit-column-gap: 2.4rem;
  -moz-column-gap: 2.4rem;
  column-gap: 2.4rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.product-table {
  background-color: #fff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.6rem;
  padding-top: 0;
}

.product-table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 4.8rem 2.5fr 4.8rem 1fr 4.8rem 1fr 4.8rem 1fr;
  grid-template-columns: 0.75fr 2.5fr 1fr 1fr 1fr;
  -webkit-column-gap: 4.8rem;
  -moz-column-gap: 4.8rem;
  column-gap: 4.8rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-size: 2rem;
  color: #251d50;
  background-color: #f5f7f9;
  padding: 1.6rem 3.2rem;
  /* margin: 1.6rem; */
  line-height: 1.8;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.product-table-row:not(.products-table-head):hover {
  background-color: #e8ebee;
}

.products-table-head {
  background-color: #fff;
  font-weight: 700;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.4rem;
}

.product-number-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-image {
  width: 6.4rem;
  height: 6.4rem;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.product-status {
  color: #3572ca;
}

.graphs {
  background-color: #fff;
  padding: 2.4rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.2rem;
}

.graph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.graph-title {
  font-size: 2.4rem;
  color: #251d50;
}

.graph-time {
  color: #9fa2aa;
  cursor: pointer;
}

.graph-descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  color: #251d50;
  font-weight: 700;
  letter-spacing: 1px;
}

.graph-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.graph-color-box {
  background-color: red;
  height: 2.4rem;
  width: 2.4rem;
}

.graph-color--orange {
  background-color: #fe764b;
}

.graph-color--light-green {
  background-color: #83bcbd;
}

.graph-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.6rem;
  color: #9fa2aa;
  padding-bottom: 1.6rem;

  position: relative;
}

.graph-bars::before,
.graph-bars::after {
  content: "";
  background-color: #b7bbc4;
  position: absolute;
  left: 2em;
  bottom: 0;
}

.graph-bars::before {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 2px;
  top: 0;
}

.graph-bars::after {
  height: 2px;
  right: 0;
}

.graph-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 2.4rem 1fr;
  grid-template-columns: 0.5em 1fr;
  -webkit-column-gap: 2.4rem;
  -moz-column-gap: 2.4rem;
  column-gap: 2.4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
}

.graph-bar-title::before {
  content: "";
  width: 1rem;
  background-color: #b7bbc4;
  height: 0.2rem;

  position: absolute;
  left: calc(2em - 1rem);
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.graph-bar-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph-bar-box {
  height: 1.6rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.graph-bar-box:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 0 4px #bfc2cc;
  box-shadow: 0 0 0 4px #bfc2cc;
}
